[SERVICE]
    Daemon Off
    Parsers_File parsers.conf

    Coro_Stack_Size {{ fluentbit_service_coro_stack_size }}
    Flush {{ fluentbit_service_flush }}
    Log_Level {{ fluentbit_service_log_level }}

    HTTP_Server {{ 'On' if fluentbit_service_http_server else 'Off' }}
    HTTP_Listen {{ fluentbit_service_http_listen }}
    HTTP_Port {{ fluentbit_service_http_port }}

@INCLUDE config.d/*.conf
@INCLUDE input.d/*.conf
@INCLUDE filter.d/*.conf
@INCLUDE output.d/*.conf
